<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.c77.rtpmediaplayer.lib">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
    </application>


</manifest>
